/* Write your CSS here */
.timer-bg-image {
  background-image: url('https://assets.ccbp.in/frontend/react-js/digital-timer-elapsed-bg.png');
  background-size: cover;
}

.time {
  background-color: #ffffff;
  border-radius: 100%;
  height: 40px;
  width: 80px;
}
